* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    background-color: #305124;
    height: 8vh;
    align-items: center;
    padding: 0 12px;
    box-shadow: 0 0 20px 2px #00000099;
    z-index: 20;
}

.header__logo {
    width: 50px;
}

.header__title {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

.header__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__item {
    margin: 0 12px;
    text-align: center;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__button {
    text-decoration: none;
    color: #648c55;
    font-weight: bolder;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}


/* HERO SECTION */
.hero {
    background-image:url("hero.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 8vh);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__text, .hero__title, .hero__buttons {
    text-shadow: 0px 0px 50px #000000;
    margin: 0px 0px 0px 40px;
    text-transform: uppercase;

}

.hero__title {
    font-size: 3rem;
    margin-bottom: 5px;
}

.hero__text {
    font-size: 1.3rem;
}

.hero__buttons {
    margin-top: 40px;
}

.hero__link {
    font-size: 1rem;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    text-align: center;
    padding: 8px 16px;
    background-color: #fff;
    color: #305124;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid #fff;
}

.hero__link--transparent {
    background-color: transparent;
    color: #fff;
}