* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    background-color: #305124;
    height: 8vh;
    align-items: center;
    padding: 0 12px;
    box-shadow: 0 0 20px 2px #00000099;
    z-index: 20;
    position: sticky;
    top: 0;
}

.header__logo {
    width: 50px;
}

.header__title {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
}

.header__nav{
    margin: 0 auto;
}

.header__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__item {
    margin: 0 12px;
    text-align: center;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__button {
    text-decoration: none;
    color: #648c55;
    font-weight: bolder;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}


/*----------HERO SECTION----------*/
.hero {
    background-image: url("hero.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 8vh);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero__text, .hero__title, .hero__buttons {
    text-shadow: 0px 0px 50px #000000;
    margin: 0px 0px 0px 40px;
    text-transform: uppercase;

}

.hero__title {
    font-size: 3rem;
    margin-bottom: 5px;
}

.hero__text {
    font-size: 1.3rem;
}

.hero__buttons {
    margin-top: 40px;
}

.hero__link {
    font-size: 1rem;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    text-align: center;
    padding: 8px 16px;
    background-color: #fff;
    color: #305124;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid #fff;
}

.hero__link--transparent {
    background-color: transparent;
    color: #fff;
}

/*----------ABOUT US SECTION----------*/ 
.about {
    height: calc(100vh - 8vh);
    padding: 25px;
}

.about__title, .actions__title {
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #002104;
}

.about__container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "historia team"
        "mision team";
    gap: 20px;
    padding-bottom: 20px;
}

.about__historia, .about__item, .about__team {
    background-color: #eaeaea;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #00000099;
    text-align: center;
    padding: 20px;
}

.about__historia {
    grid-area: historia;
    
}

.about__values {
    grid-area: mision;
    display: flex;
    padding: 0;
    gap: 20px;
}

.about__team {
    grid-area: team;
}

.about__item {
    margin: 0px;
}

.about__image {
    width: 50%;
    margin-bottom: 20px;
}

.about__subtitle {
    font-size: 2rem;
}

.about__text {
    font-size: 1.2rem;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.about__team-image{
    max-width: 100%;
    border-radius: 10px;
}

/*----------ACTIONS SECTION----------*/
.actions {
    height: calc(100vh - 8vh);
    padding: 40px 20px;
}

.actions__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.actions__card {
    background-color: #eaeaea;
    border-radius: 20px;
    max-width: 350px;
    text-align: center;
    height: 420px;
    box-shadow: 0 0 10px #00000099;
}

.actions__card--middle {
    max-width: 250px;
}

.actions__subtitle {
    margin: 0;
    border-radius: 20px 20px 0 0;
    background-color: #6ba356;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.actions__subtitle--color {
    background-color: #b67a27f6;
}
.actions__image {
    max-width: 100%;
}

.actions__image-container {
    position: relative;
}

.actions__image-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent 60%, #00000066);
}

.actions__top {
    background-color: #2b5c19;
    border-radius: 20px;
}

.actions__image--top {
    max-width: 20%;
    filter: invert(1);
    margin-top: 15px;
}

.actions__top > .actions__subtitle {
    border-radius: 0px;
    background-color: #2b5c19;
}

.actions__text {
    padding: 10px;
}

.actions__count {
    display: block;
    font-weight: 700;
    font-size: 3.5rem;
}
.actions__stats {
    font-weight: 700;
    font-size: 1.4rem;
}

.actions__list {
    list-style: none;
    text-align: start;
}

.actions__item {
    display: flex;
    margin: 5px 0;
}

.actions__icon {
    width: 16px;
    filter: brightness(0) saturate(100%) invert(30%) sepia(60%) saturate(600%) hue-rotate(350deg) brightness(90%);
    margin: 0 5px;
}